body {
    background-image: url('../imagenes/fondo.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
  } 

  .top-page {
    position: absolute; /* Fijar el contenedor de las imágenes */
    top: 2%; /* Posición en la parte superior */
    left: 15%;
    right: 15%;
    display: flex;
    justify-content: space-between; /* Una imagen a la izquierda y otra a la derecha */
    align-items: center;
    z-index: 10; /* Asegurarse de que esté sobre otros elementos */
    padding: 15px;
  }

  .top-page img {
    max-width: 100px; /* Ajusta el tamaño máximo de las imágenes */
    width: 100%;
    height: auto
  }

  .tittle {
    position: absolute; /* Fijar el título */
    top: 10%; /* Ajusta esto según la altura de las imágenes */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Ajustar el centrado */
    z-index: 9; /* Asegurarse de que esté debajo de las imágenes */
    text-align: center; /* Centrar el texto */
    color: black; /* Cambia el color según lo que necesites */
    font-size: 24px; /* Ajusta el tamaño de la fuente según lo que necesites */
    margin-bottom: 5px;
  } 

.card {
    border-radius: 15px;
    margin-top: 180px;
    margin-bottom: 20px;
}

.card-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #611232;
}

.card-footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

  /* Estilo base del botón */
  .btn-custom {
    background-color: transparent;
    border: 2px solid #611232 !important; /* Asegura que el borde se aplique */
    color: #611232;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Estilo al pasar el cursor */
  .btn-custom:hover {
    background-color: #611232;
    color: white !important;
    border-color: #611232 !important; /* Refuerza el borde en el hover */
  }